<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <div class="col-xs-3">
      <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          I KNOW
          <br>
          I AM
          <br>
          SUPER AWESOME
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 slogan">
      Splurting out unsolicited advice about entrepreneurship since 2017
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', new_quote_path %>
      <%= link_to 'About', '#' %>
    </div>
	</header>
  <hr>
  <br class="clear" />

  <div class="container">
 <!--  <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="sonngo95"><a class="LI-simple-link" href='https://www.linkedin.com/in/sonngo95?trk=profile-badge'>Son Ngo</a></div> -->
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-xs-6">
        <%= link_to "Get the next quote", root_path, class: "next-quote" %>
      </div>
      <div class="col-xs-6 footer-blurb">
        Bowdoin College, Class of 2017 <br>
        Great thanks to The Fire House Project. <a href="http://thefirehoseproject.com">Learn how to build your own website here</a>
      </div>
    </div>
  </div>

</body>
</html>
